header {

	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;


	nav{
		left: 0;
		top:30px;
		position: absolute;
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 0.05em solid currentColor;
		padding-right: 2em;


		a{
			position: relative;
			color: rgba(255,255,255,0.85);
			transition: 0.25s;

			&+a{
				padding-left: 2em;
				&:before{
					position: absolute;
					content:'';
					width: 2em;
					left: -2em;
				}

				&.active{
					cursor: default;
					pointer-events: none;
					position: relative;
					&:after{
						width: 100%;
						left: 1em;
					}
				}
				&:hover{
					&:after{
						width: 100%;
						left: 1em;
					}
				}
				&:after{
					left: calc(50% + 0.5em);
				}
			}
			&:hover,&:active,&:focus{
				color: #fff;
			}
			&:hover{
				transform: scale(1.2);
			}
			&:after{
				width: 0%;
				left: 50%;
				height: 1px;
				content:'';
				position: absolute;
				background: #000;
				border-bottom: 0.05em solid #000;
				bottom: -1em;
				transition: 0.25s;
			}
			svg{
				display: inline-block;
				height: 1em;
				width: 1.6em;
				padding: 0 0.3em;
			}

			&.active{
				cursor: default;
				pointer-events: none;
				position: relative;
				&:after{
					width: 100%;
					left: 0;
				}
			}
			&:hover{
				&:after{
					width: 100%;
					left: 0;
				}
			}
		}
	}

	.i18n{
		right: 0;
		left: auto;
		display: inline-block;
		position: absolute;
		padding-right: 0;
		padding-left: 2em;
		border: 0;

		a{
			background: #111;
			color: #fff;
			padding: 0 0.3em;
			border-radius: 3px;
			border: 0.05em solid #111;

			&.active{
				background: #fff;
				color: #111;
				cursor: default;
				pointer-events: none;
			}
			&:after{
				display: none;
			}

			&+a{
				&:before{
					display: none;
					content: none;
				}
			}
		}
	}
}
