header {

	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;


	nav{
		left: 0;
		top:30px;
		position: absolute;
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 0.05em solid currentColor;
		padding-right: 2em;


		a{
			position: relative;
			&+a{
				padding-left: 2em;
				&:before{
					position: absolute;
					content:'';
					width: 2em;
					left: -2em;
				}
			}
			svg{
				display: inline-block;
				height: 1em;
				width: 1.6em;
				padding: 0 0.3em;
			}

			&.active{
				cursor: default;
				pointer-events: none;
			}
		}
	}

	.i18n{
		right: 0;
		left: auto;
		display: inline-block;
		position: absolute;
		padding-right: 0;
		padding-left: 2em;

		a{
			background: #111;
			color: #fff;
			padding: 0 0.3em;
			border-radius: 3px;
			border: 0.05em solid #111;

			&.active{
				background: #fff;
				color: #111;
				cursor: default;
				pointer-events: none;
			}

			&+a{
				&:before{
					display: none;
					content: none;
				}
			}
		}
	}
}
