.container{

	margin-top: 80px;

	img{
		width: 200px;
		stroke: #1F3C66;
	}
	figure{
		width: 200px;
		background: center/cover;
	}

	// svg path{
	// 	stroke-dasharray: 6000px;
	// 	stroke-dashoffset: 9290px;
	// 	fill: none;
	// 	stroke-width: 2;
	// 	stroke: rgba(0,0,0,0.8);
	// 	@include animation(
	// 		nloop 5s infinite linear forwards 0s
	// 	);
	// }


}