.container{
	width: 1024px;
	padding: 0;
	margin-top: 130px;
	min-height: calc(100vh - 130px - 3em);

	// img{
	// 	width: 200px;
	// 	stroke: #1F3C66;
	// }
	// figure{
	// 	width: 200px;
	// 	background: center/cover;
	// }

	// svg path{
	// 	stroke-dasharray: 6000px;
	// 	stroke-dashoffset: 9290px;
	// 	fill: none;
	// 	stroke-width: 2;
	// 	stroke: rgba(0,0,0,0.8);
	// 	@include animation(
	// 		nloop 5s infinite linear forwards 0s
	// 	);
	// }


}

.about{
	.profile-picture{
		position: relative;
		img{
			width: 100%;
			filter: grayscale(80%);
		}
	}
	svg{
		width: 10px;
		margin-right: 0.5em;	
		path{
			stroke: #fff;
			fill: #fff;
		}
	}
}

.contact{
	.profile-picture{
		position: relative;
		img{
			width: 100%;
			filter: grayscale(80%);
		}
	}
	li>span{
		display: inline-block; 
		text-transform: uppercase;
		margin-right: 1em;
		position: relative;
		&:after{
			content: ':';
			text-indent: -1em;
			display: inline;
			position: absolute;
			right: -1.5em;
			top: 0;
		}
	}
	a{
		color: #fff;
	}
}